.menu-container {
  width: 40%;
  background-color: white;
  border-radius: 5px;
  padding: 1.5em;
  display: flex;
  margin-right: 1em;
  margin-bottom: 1em;
}
.menu-container:hover {
  cursor: pointer;
  box-shadow: 2px 2px 5px 2px rgb(233, 230, 230);
}

.menu-container .col1 {
  width: 70%;
}

.menu-container .col2 {
  margin-left: 1em;
}

.menu-container img {
  object-fit: cover;
  border-radius: 5px;
  width: 10vw;
  height: 10vw;
}

.menu-container h3,
.menu-container .price {
  font-size: 16px;
}

.menu-container h3 {
  font-weight: 300;
  margin-bottom: 1em;
}
.menu-container .col1 p {
  color: grey;
  font-size: 12px;
  margin-bottom: 1em;
  overflow: hidden;
  height: 3em;
}
.menu-container .price {
  color: grey;
  margin-right: 0.5em;
}

.menu-container .popular {
  color: orange;
  font-size: 14px;
  font-weight: bold;
}

@media (max-width: 1200px) {
  .menu-container {
    width: 39%;
  }
}
@media (max-width: 960px) {
  .menu-container {
    width: 38%;
  }

  .menu-container img {
    width: 15vw;
    height: 15vw;
  }
}

@media (max-width: 760px) {
  .menu-container {
    width: 100%;
    margin: 1em 0;
  }

  .menu-container .col2 {
    margin-left: 2em;
  }
  .menu-container img {
    width: 23vw;
    height: 23vw;
  }
}
