.menus-container{
    border: 2px solid red;
    width: 70%;
    display: flex;
}
.menu-container{
    width: 400px;
    background-color: white;
    padding: 20px;   
    display: flex; 
    flex-shrink: 0;
    margin: 20px;
}

.menu-container .col1{
    width: 60%;
    margin-right: 10px;
}


.menu-container img{
    width: 150px;
  
}

.menu-container h2,
.menu-container h3{
    font-size: 16px;
}
.menu-container h3{
    color:grey;
}
.menu-container p{
    color:grey;
    font-size: 12px;
}