/* Other rules */
.page-container {
  width: 1250px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.page-container .column-menu {
  width: 70%;
}

.page-container .column-shoppingCart {
  width: 30%;
  margin-top: 3em;
}
